body {
    --sb-track-color: #232e33;
    --sb-thumb-color: #055d94;
    --sb-size: 10px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

a,
.fa-bootstrap {
    transition: .4s;
}

footer ul li a:hover,
footer .fa-bootstrap:hover {
    color: rgb(8, 128, 232) !important;
}

.card-one,
.card-two,
.card-three {
    transition: .4s;
}

.card-one:hover,
.card-two:hover,
.card-three:hover {
    box-shadow: 45px 53px 50px -35px rgba(0, 0, 0, 0.75);
}